<template>
    <section class="popup user-signup">
        <form action="#" method="post" class="container user-signup-form">
            <header class="popup-header">
                <h1>Sign up</h1>
                <!-- <p>what is happing, when it is happening!?</p> -->
            </header>
            <div class="popup-content">
                <input type="email" name="email" placeholder="email" autocomplete="off">
                <input type="text" name="username" placeholder="username" autocomplete="off">
                <input type="password" name="password" placeholder="password" autocomplete="off">
                <input type="password" name="repassword" placeholder="confirm password" autocomplete="off">
            </div>
            <div class="popup-buttons">
                <input type="submit" value="sign up">
                <input type="button" value="sign in">
            </div>
        </form>
    </section>
</template>