<template>
    <section class="popup user-profile">
        <form action="#" method="post" class="container user-profile-form popup-content">
            <header class="popup-header">
                <h1>Profile</h1>
                <p>account settings</p>
            </header>
            <input type="file" name="usericon">
            <input type="email" name="email" placeholder="email" autocomplete="off">
            <input type="text" name="username" placeholder="username" autocomplete="off">
            <input type="password" name="password" placeholder="password" autocomplete="off">
            <input type="password" name="repassword" placeholder="confirm password" autocomplete="off">
            <div class="popup-buttons">
                <input type="submit" value="save">
                <input type="button" value="sign Out">
            </div>
        </form>
    </section>
</template>
