<template>
    <section class="popup user-signin">
        <form action="../../signin.php" method="post" class="container user-signin-form">
            <header class="popup-header">
                <h1>Sign in</h1>
                <!-- <p>what is happening, when it is happening!?</p> -->
            </header>
            <div class="popup-content">
                <input type="text" name="identity" placeholder="email or username" autocomplete="off">
                <input type="password" name="password" placeholder="password" autocomplete="off">
            </div>
            <div class="popup-buttons">
                <input type="submit" value="sign in">
                <input type="button" value="sign up">
            </div>
        </form>
    </section>
</template>
