<template>
    <div class="container user-entry">
        <header class="user-info">
            <button>
                <img src="../images/icons/profile-icon.svg" alt="user-icon" onerror="this.src = '../images/icons/profile-icon.svg';">
            </button>
            <p class="username">@you</p>
        </header>
        <form action="#" method="post" class="container-content">
            <input type="text" name="head" placeholder="head" autocomplete="off">
            <textarea name="body" rows="6" placeholder="enter"></textarea>
            <input type="submit" value="post">
        </form>
    </div>
</template>